
body {
background-image: url(plpbg.jpg) no-repeat;
background-size: 100% ;
        
 }

.menu-button {
  display: block;
  background-size: 100px auto;
  height: 86px;
  width:100px;
}
.menu-button:hover {
background-position: 0 -86px;
}
.menu-button:active {
background-position: 0 -172px;
}


#aboutlink {
background: url(buttons/a_push2.png) no-repeat;
}

#worklink {
background: url(buttons/work_push.png) no-repeat;
}

#contactlink {
background: url(buttons/contact_push.png) no-repeat;
}



#logolink {
display: block;
background: url(logo4.jpg) no-repeat;
background-size: 80px auto;
height: 89px;
width:100px;
position: fixed;
}
#logolink:hover{
background-position: 0 -89px;
}
#logolink:active{
background-position: 0 -178px;
}


#resumelink {
display: block;
background: url(buttons/pushresume.png) no-repeat;
background-size: 80px auto;
height: 108px;
width:80px;
position: absolute; top: 530px; left: 800px;
}
#resumelink:hover{
background-position: 0 -108px;
}
#resumelink:active{
background-position: 0 -216px;
}


.work-filter {
display: block;
background: url(buttons/allbut2.png) no-repeat;
background-size: 100px auto;
height: 66px;
width:100px;
}
.work-filter:hover{
background-position: 0 -66px;
}
.work-filter:active{
background-position: 0 -132px;
} 


#alllink {
display: block;
background: url(buttons/allbut2.png) no-repeat;
background-size: 100px auto;
height: 66px;
width:100px;
}
#alllink:hover{
background-position: 0 -66px;
}
#alllink:active{
background-position: 0 -132px;
}

#softwarelink {
display: block;
background: url(buttons/softwarebut.png) no-repeat;
background-size: 100px auto;
height: 66px;
width:100px;
}
#softwarelink:hover{
background-position: 0 -66px;
}
#softwarelink:active{
background-position: 0 -132px;
}

#hardwarelink {
display: block;
background: url(buttons/hardwarebut.png) no-repeat;
background-size: 100px auto;
height: 66px;
width:100px;
}
#hardwarelink:hover{
background-position: 0 -66px;
}
#hardwarelink:active{
background-position: 0 -132px;
}

#spacelink {
display: block;
background: url(buttons/spacebut.png) no-repeat;
background-size: 100px auto;
height: 66px;
width:100px;
}
#spacelink:hover{
background-position: 0 -66px;
}
#spacelink:active{
background-position: 0 -132px;
}

#musiclink {
display: block;
background: url(buttons/musicbut.png) no-repeat;
background-size: 100px auto;
height: 66px;
width:100px;
position: absolute; top: 100px; left: 340px;
}
#musiclink:hover{
background-position: 0 -66px;
}
#musiclink:active{
background-position: 0 -132px;
}

#performlink {
display: block;
background: url(ox/performox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#performlink:hover{
background-position: 0 -198px;
}
#performlink:active{
background-position: 0 -198px;
}

#tasklink {
display: block;
background: url(ox/taskox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#tasklink:hover{
background-position: 0 -198px;
}
#tasklink:active{
background-position: 0 -198px;
}

#hflink {
display: block;
background: url(ox/hfox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#hflink:hover{
background-position: 0 -198px;
}
#hflink:active{
background-position: 0 -198px;
}

#naviwatchlink {
display: block;
background: url(ox/naviwatchox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#naviwatchlink:hover{
background-position: 0 -198px;
}
#naviwatchlink:active{
background-position: 0 -198px;
}

#audlink {
display: block;
background: url(ox/audox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#audlink:hover{
background-position: 0 -198px;
}
#audlink:active{
background-position: 0 -198px;
}

#soundformslink {
display: block;
background: url(ox/soundformsox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#soundformslink:hover{
background-position: 0 -198px;
}
#soundformslink:active{
background-position: 0 -198px;
}

#maniclink {
display: block;
background: url(ox/manicox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#maniclink:hover{
background-position: 0 -198px;
}
#maniclink:active{
background-position: 0 -198px;
}

#porouslink {
display: block;
background: url(ox/porousox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#porouslink:hover{
background-position: 0 -198px;
}
#porouslink:active{
background-position: 0 -198px;
}

#ssslink {
display: block;
background: url(ox/sssox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#ssslink:hover{
background-position: 0 -198px;
}
#ssslink:active{
background-position: 0 -198px;
}

#nmdrlink {
display: block;
background: url(ox/nmdrox.png) no-repeat;
background-size: 200px auto;
height: 198px;
width:200px;
position: absolute; top: 100px; left: 340px;
}
#nmdrlink:hover{
background-position: 0 -198px;
}
#nmdrlink:active{
background-position: 0 -198px;
}


p.description {
  font-family: Ocr A Std, Ocr a, Eurostile, Arial, Verdana, sans-Serif;
  text-align: center;
  font-size: 80%;
  padding: 15%;
  margin: 0 0 10px;
}
